body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    /*background: linear-gradient(180deg, rgba(40, 107, 159, 1) 23%, rgba(50, 120, 162, 1) 51%, rgba(194, 226, 231, 1) 97%);*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    min-height: 47px;
    padding: 25px 30px 25px 30px;
    background-color: #0b314e;
}

#button-logo {
    background-color: transparent;
    border: none;
}

#logo {
    width: 130px;
    margin-top: 3%;
}

h2 {
    font-weight: 300;
    opacity: 0.9;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.search {
    width: 31.96vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityNameInput {
    width: 100%; 
    height: 40px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    padding-left: 8%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus {
    outline: 1px solid white;
}

input::placeholder {
    color: #888;
    font-style: italic;
}

#addCity {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#glass {
    width: 35px;
}

#glass:hover {
    opacity: 0.7;
}

#user {
    text-align: start; 
    font-size: 16px;  
}

#circle-userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 100%;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.26);
}

#userIcon {
    width: 70px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    background-color: transparent;
}

#user-title-container {
    display: flex;
    align-items: center;
    height: 30px;
}

#userIcon-logged {
    width: 17px;
    margin-right: 8px;
}

#userIcon:hover, #circle-userIcon:hover {
    opacity: 0.4;
}

.hr {
    margin-bottom: 20px;
}

#button-change-password {
    display: none;
    justify-content: center;
    align-items: center;
    width: 180px;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    line-height: 5px;
    padding: 14px 22px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    touch-action: manipulation;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.26);
}

#button-change-password:active,
#button-change-password:hover {
  outline: 0;
}

#button-change-password:hover {
  background-color: rgba(201, 179, 179, 0.26);
  border-color: rgba(0, 0, 0, 0.19);
}

#button-logout {
    display: none;
    justify-content: center;
    align-items: center;
    width: 180px;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    line-height: 5px;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    touch-action: manipulation;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.26);
}
  
#button-logout:active,
#button-logout:hover {
  outline: 0;
}

#button-logout:hover {
  background-color: rgba(201, 179, 179, 0.26);
  border-color: rgba(0, 0, 0, 0.19);
}

#button-delete-account {
    display: none;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-top: 15px;
    border: 0px solid #DFDFDF;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
    touch-action: manipulation;
}

#button-delete-account:active,
#button-delete-account:hover {
  outline: 0;
}

#button-delete-account:hover {
    background-color: rgba(201, 179, 179, 0.46);
    border-color: rgba(0, 0, 0, 0.19);
  }

#question-delete-account {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    margin: 0;
}

#delete-user-container-button {
    display: flex;
    justify-content:space-between;
}

#back-delete-user {
    display: none;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 20px;
    background-color: #b64949;
    margin-top: 15px;
    padding: 15px 0;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#back-delete-user:hover {
    opacity: 0.8;
}

#yes-delete-user {
    display: none;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 20px;
    background-color: #4CAF50;
    margin-top: 15px;
    padding: 15px 0;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#yes-delete-user:hover {
    opacity: 0.8;
}

#title-personalize {
    transition: opacity 0.4s ease, transform 0.4s ease; 
    opacity: 0; 
    transform: translateY(100%);
    z-index: 10;
    background-color: #DFDFDF;
    background: linear-gradient(to right,  #DFDFDF, transparent);
    position: absolute;
}

#title-personalize.show-personalize{
    opacity: 1;
    transform: translateY(0);
}

#title-home-page-bar {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, white, transparent);
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 18px;
    height: 40px;
    margin: 0;
}

#text-title-personalize-bar {
    margin-left: 10px;
}

#cityList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-bottom: 60px;
}

#cityList-personalize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}


.button-weather {
    border: none;
    background-color: transparent;
}

.button-weather:hover {
    opacity: 0.8;
}

.cityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    width: 250px;
    margin: 30px;
    background-color: white;
    background-size: cover;
    border-radius: 20px;
    transition: opacity 0.9s ease, transform 0.9s ease; 
    opacity: 0; 
    transform: scale(0.9);
}

.cityContainer.show-city { 
    opacity: 1; 
    transform: scale(1); 
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 8% 0 0 0;
    border-radius: 20px 20px 0px 0px;
    font-size: 24px;
}

.country {
    margin: 0;
}

.currentTime {
    font-size: 16px; 
    color: black;
    margin: 5px 0;
    padding: 0;
}

.description {
    font-size: 18px;
    margin: 1;
}

.temperature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    font-size: 18px;
    color: #1A4DE4;
    font-weight: bold;
}

.weatherIcon {
    width: 60px;
}

.deleteCity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #58595A;
    margin: 15px;
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.deleteCity:hover {
    opacity: 0.8;
}

#overlay-home-page, #overlay-home-page-logged {
    display: none;
    flex-direction: column;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popover-home-page {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#overlay-signup-signin {
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#popover-signup-signin {
    display: flex;
    justify-content: center;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#overlay-logged {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#overlay-more-details {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: 2;
    width: 100vw;
    background-color: transparent;
}

#more-details-container {
    opacity: 0; 
    transform: scale(0.2);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

#more-details-backButton {
    width: 50px;
    height: 50px;
    align-self: self-start;
    margin: 30px 0 15px 30px;
    border-radius: 100%;
    border: none;
    background-color:white;
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

#more-details-container.show, #more-details-backButton.show {
    opacity: 1;
    transform: scale(1);
}

#more-details-backButton:hover {
    opacity: 0.5;
    background-color:#DFDFDF;
}

#popover-more-details {
    background-color: #0b314e;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr) 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


#current-forecast {
    background-color: white;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 15px;
    margin: 15px;
}

#hourly-forecast {
    background-color: white;
    grid-area: 1 / 2 / 2 / 4;
    border-radius: 15px;
    margin: 15px;
}

#daily-forecast {
    background-color: white;
    grid-area: 2 / 1 / 3 / 4;
    border-radius: 15px;
    margin: 15px;
}

#wind-speed-forecast {
    background-color: white;
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 15px;
    margin: 15px
}

#humidity-forecast {
    background-color: white;
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 15px;
    margin: 15px
}

#pressure-forecast {
    background-color: white;
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 15px;
    margin: 15px
}

.forecast-container {
    display: row;
    padding: 0 25px 0 25px;
}

.forecast-title-container {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}

.forecast-hourly-content {
    margin: 45px 0 45px 0;
    display: grid;
    grid-column-gap: 20px;
}

.hourly-1 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.hourly-2 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.hourly-3 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 3 / 2 / 4;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.forecast-daily-content {
    margin: 45px 0 45px 0;
    display: grid;
    grid-column-gap: 20px;
}

.daily-1 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.daily-2 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #f0f0f0;
    border-radius: 15px;

}

.daily-3 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 3 / 2 / 4;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.daily-4 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 4 / 2 / 5;
    background-color: #f0f0f0;
    border-radius: 15px;

}

.daily-5 {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 15px;
    grid-area: 1 / 5 / 2 / 6;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.bold {
    font-weight: bold;
}

.p {
    margin: 0;
}

#popover-logged {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 0.9s ease, transform 0.9s ease; 
    opacity: 0; 
    transform: scale(0.9);
}

#overlay-logged.show-logged #popover-logged {
    opacity: 1;
    transform: scale(1);
}

.hidden {
    display: none;
}

#initial-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    top:auto;
    left: auto;
    transition: opacity 0.4s ease, transform 0.4s ease; 
    opacity: 0; 
    transform-origin: top right;
    transform: scale(0) translateX(100%) translateY(-100%);
}

#initial-container.show-account {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
} 

#vertical-line { 
    width: 2px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 20px 0 20px;
}

#initial-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p {
    margin: 0 0 2px 0;
}

#button-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background-color: #4CAF50;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#button-signup:hover {
    opacity: 0.8;
}

#button-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background-color: #008CBA;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#button-signin:hover {
    opacity: 0.8;
}

#forgot-password-button {
    background-color: transparent;
    color: black;
    border: none;
    opacity: 0.4;
} 

#forgot-password-button:hover {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0 8% 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
} 

.place-holder-container {
    width: 135%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

#place-holder {
    align-self: flex-start;
}

.button-form {
    margin: 2%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.button-form-password {
    padding: 0;
    margin: 2%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.toggle-password-icon {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin-left: 160px;
    margin-top: 10px;
}

.toggle-password-icon:hover {
    opacity: 0.2;
}

.container-button-form {
    display: flex;
    padding-top: 20px;
}

#return-signup, #return-signin, #return-forgot-password, #return-change-password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 20px;
    background-color: #b64949;
    margin: 15px;
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#return-signup:hover, #return-signin:hover, #return-forgot-password:hover, #return-change-password:hover {
    opacity: 0.8;
}

#submit-signup, #submit-signin, #submit-forgot-password, #submit-change-password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 20px;
    background-color: #4CAF50;
    margin: 15px;
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#submit-signup:hover, #submit-signin:hover, #submit-forgot-password:hover, #submit-change-password:hover {
    opacity: 0.8;
}

#success-signup, #error1-signup, #error2-signup, #success-signin, #error0-signin, #error1-signin, #error2-signin, #error3-signin, #error4-signin, #success-update-password, #error1-update-password, #error2-update-password, #error3-update-password, #error, #session-timeout, #deleted-account, #success-change-password, #error1-change-password, #error2-change-password {
    background-color: white;
    margin: 2%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    top: 65%;
    left: 42,5%;
    transition: opacity 0.4s ease, transform 0.4s ease; 
    opacity: 0; 
    transform: translateY(100%);
    z-index: 10;
}

#success-signup.show, #error1-signup.show, #error2-signup.show, #success-signin.show, #error0-signin.show, #error1-signin.show, #error2-signin.show, #error3-signin.show, #error4-signin.show, #success-update-password.show, #error1-update-password.show, #error2-update-password.show, #error3-update-password.show, #error.show, #session-timeout.show, #deleted-account.show, #success-change-password.show, #error1-change-password.show, #error2-change-password.show {
    opacity: 1;
    transform: translateY(0);
}

#message-user-home-page {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 10px;
    margin-top: 18%;
    background-color: white;
    background-size: cover;
    border-radius: 20px;
}

footer { 
    background-color: #0b314e; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 2vh;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); 
} 
    
footer p { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
} 



@media (max-width: 480px) { 
    #header {
        padding: 25px 15px 25px 15px;
    }
    #logo {
        width: 85px;
    }
    #more-details-backButton {
        width: 35px;
        height: 35px;
    }
    #more-details-backButton .fa-angles-left {
        font-size: 1.5rem;
    }
    .search { 
        width: 46vw;
    }  
    footer p { 
        font-size: 12px; 
    } 
}

@media (max-width: 608px) {
    .forecast-hourly-content {
        margin: 45px 0 45px 0;
        display: flex;
        flex-direction: column;
    }

    .forecast-daily-content {
        margin: 45px 0 45px 0;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 874px) {
    .daily-3 {
        grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 20px;
    }
    .daily-4 {
        grid-area: 2 / 2 / 3 / 3;
        margin-bottom: 20px;
    }
    .daily-5 {
        grid-area: 4 / 1 / 5 / 3;
    } 
}

@media (max-width: 920px) {
    #popover-more-details {
        display: flex;
        flex-direction: column;
    }

    .hourly-1 {
        margin-bottom: 20px;
    }
    .hourly-2 {
        margin-bottom: 20px;
    }
    .hourly-3 {
        grid-area: 2 / 1 / 2 / 3;
    } 
    .daily-1 {
        margin-bottom: 20px;
    }
    .daily-2 {
        margin-bottom: 20px;
    }
    .daily-3 {
        margin-bottom: 20px;
    }
    .daily-4 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .daily-5 {
        grid-area: 3 / 2 / 4 / 4;
    } 
}

@media (max-width: 1406px) {
    #popover-more-details {
        display: flex;
        flex-direction: column;
    }

    .hourly-1 {
        margin-bottom: 20px;
    }
    .hourly-2 {
        margin-bottom: 20px;
    }
    .hourly-3 {
        grid-area: 2 / 1 / 2 / 3;
    } 
    .daily-1 {
        margin-bottom: 20px;
    }
    .daily-2 {
        margin-bottom: 20px;
    }
    .daily-3 {
        margin-bottom: 20px;
    }
    .daily-4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .daily-5 {
        grid-area: 2 / 2 / 3 / 4;
    } 
}
